.jumbotron{
	background-color: #32CD32	;
	color: #ffffff;
	font-family: 'Righteous', cursive;
	font-size: 25px
	
}

.rafael{
	background-color: #D8BFD8;
	color: #006400;
	font-family: 'Quicksand', sans-serif;
}

.container {
 
	font-family: 'Quicksand', sans-serif;
	

}

.cores{
	background: #0000FF;
	font-size: 20px
	color: #ffffff;
}

.textos{
	font-size: 23px
}

.but{
	color: #ffffff;
}

